* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.container {
    min-height: 100%;
    width: 80%;
    margin: 0 auto;
}

.container .header {
    height: 100px;
    background-color: antiquewhite;
    min-width: 800px;
}

.container .nav {
    height: 300px;
    width: 200px;
    background-color: cornflowerblue;
    float: left;
}

.container .main {    
    background-color: lightgray;
    margin-left: 200px;
    min-width: 600px;
}

.footer {    
    margin-top: -100px;
    height: 100px;
    background-color: darkslategray;
    width: 80%;
    margin: -100px auto 0;
}

.clr {
    height: 100px;
}

@media screen and (min-width: 1200px) {
 .container .header {
    height: 100px;
    background-color: beige;
    min-width: 800px;
}   
}
