* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.container {
    min-height: 100%;
}

.container .header {
    height: 100px;
    background-color: antiquewhite;
    min-width: 800px;
}

.container .nav {
    height: 300px;
    width: 200px;
    background-color: cornflowerblue;
    float: left;
}

.container .main {    
    background-color: lightgray;
    margin-left: 200px;
    min-width: 600px;
}

.container .footer {
    height: 100px;
}
